<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>SupermegaFoorumi</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>SupermegaFoorumi</h1>
        <h2 th:text="${aluenimi}">Alue X:</h2>
        <h3 th:text="${ketjunimi}">Ketju Y:</h3>

        <table style="width:100%">
            <tr>
                <th style="font-size:130%" align="left">Käyttäjä</th>
                <th style="font-size:130%" align="left">Viesti</th>
                <th style="font-size:130%" align="left">Luomisaika</th>
            </tr>
            <tr th:each="Viesti: ${viestit}">
                <td><a th:text="${Viesti.getKayttaja()}">kayttaja</a></td>
                <td><a th:text="${Viesti.toString()}">viesti</a></td>
                <td><a th:text="${Viesti.getLuomisaika()}">luomisaika</a></td>
            </tr>
        </table>
        <br/>

        <form method="POST" th:action="${ketjuosoite}">
            <i>Luo uusi viesti:</i><br/>
            Käyttäjänimi:<br/>
            <input type="text" name="kayttajaNimi"/><br/>
            Viesti:<br/>
            <textarea name="sisalto" rows="7" cols="30"/><br/>
            <input type="submit" value="Lähetä"/>
        </form>
        <br/>
        
        <a th:href="${alueosoite}">Takaisin aluesivulle</a>
        <br/>
        <a th:href="@{~/alueet}">Takaisin pääsivulle</a>

    </body>
</html>